@charset "utf-8";
/* CSS Document */

body {
	background-image: -webkit-linear-gradient(270deg,rgba(105,103,103,1.00) 0%,rgba(245,245,245,0.76) 42.49%,rgba(255,255,255,0.16) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(105,103,103,1.00) 0%,rgba(245,245,245,0.76) 42.49%,rgba(255,255,255,0.16) 100%);
	background-image: -o-linear-gradient(270deg,rgba(105,103,103,1.00) 0%,rgba(245,245,245,0.76) 42.49%,rgba(255,255,255,0.16) 100%);
	background-image: linear-gradient(180deg,rgba(105,103,103,1.00) 0%,rgba(245,245,245,0.76) 42.49%,rgba(255,255,255,0.16) 100%);
}
h1{
	color:#D94244
}
h1, h2{
font-family: 'Merriweather', serif;
	
}

p{
	line-height: 25px;
	font-family: 'Source Serif Pro', serif;
}
#logo {
	float: left;
    width: 130px;
	height: 70px;
	margin: 5px;
}

nav {
	background-color: #FFFFFF;
	height: 80px;
}
.navlist {
	margin: 0;
	padding: 15px;
	list-style-type: none;
	/*overflow: hidden;*/
}
.navlistitem {
	float: left;
}
.navlistitem a {
	display: block;
	text-decoration: none;
    margin-right: 3px;
	padding: 14px 16px 16px;
	color: #525151;
}
.navlistitem a:hover {
	color: #D94244;
	font-weight: bold;
	background-color: #DFDFDF;
}
.current a{
    color: #D94244;
	font-weight: bold;
    background-color: #DFDFDF;
}
.social_icon{
	float: right;
    padding-right: 120px;   
}
.social_icon a{
	text-decoration: none;
    padding-right: 5px;
    padding-bottom: 5px;
}
.intro{
	width: 65%;
	float: left;	
}

/*membership Page */

.signup{
	width: 30%;
	float: right;
	margin-top: 20px;
	margin-right: 300px;
	padding: 10px;
	height: 350px;
	background-image: -webkit-linear-gradient(270deg,rgba(226,217,241,1.00) 0%,rgba(211,210,241,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(226,217,241,1.00) 0%,rgba(211,210,241,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(226,217,241,1.00) 0%,rgba(211,210,241,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(226,217,241,1.00) 0%,rgba(211,210,241,1.00) 100%);
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
}

.side_form{
	width: 30%;
	border: #7C5152;
	float: left;
	margin-top: 25px;	
	margin-left: 100px;
	margin-bottom: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px;
	background-color: rgba(139,152,233,0.91);
}

.side_form input{
	margin-top: 5px;
	margin-bottom:5px;
}

#signup_btn{
	height: 40px;
	width: 60px;
	margin: 5px;
	padding: 3px 5px;
	display: inline-block;
	border-radius: 5px;
	background-color: rgba(239,237,26,1.00);
}

#reset_btn{
	height: 40px;
	width: 60px;
	margin: 5px;
	padding: 3px 5px;
	display: inline-block;
	border-radius: 5px;
	background-color: rgba(241,106,108,1.00);	
}

#footer {
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	text-align: center;
	background-image: linear-gradient(180deg,rgba(41,28,78,0.00) 0%,rgba(91,132,196,0.34) 66.32%,rgba(35,35,61,0.80) 99.48%);
	position: relative;
	clear: both;
}


.side	{
	width: 30%;
	border: #7C5152;
	float: right;
	margin-top: 25px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px;
	background-image: -webkit-linear-gradient(270deg,rgba(139,152,233,0.52) 0%,rgba(237,229,229,0.47) 99.48%);
	background-image: -moz-linear-gradient(270deg,rgba(139,152,233,0.52) 0%,rgba(237,229,229,0.47) 99.48%);
	background-image: -o-linear-gradient(270deg,rgba(139,152,233,0.52) 0%,rgba(237,229,229,0.47) 99.48%);
	background-image: linear-gradient(180deg,rgba(139,152,233,0.52) 0%,rgba(237,229,229,0.47) 99.48%);
}

/*Artists Page */

.blue{
	height: 350px;
	padding: 10px;
	background-color: rgba(199,190,244,1.00);	
}


.white{
	height: 350px;
	padding: 10px;
 	background-color: rgba(244,234,234,1.00);	
}

.blue_img {
	float: left;
	margin: 10px;
}

.white_img {
	float: left;
	margin: 10px;
}





/* Imgaeslide CSS */
* {
	box-sizing: border-box
}
/* Slideshow container */
.slideshow-container {
	width: 100%;	
	position: relative;
	margin: auto;
	float: left;
}
/* Hide the images by default */
.mySlides {
	display: none;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
 @-webkit-keyframes fade {
 from {
opacity: .4
}
 to {
opacity: 1
}
}
 @keyframes fade {
 from {
opacity: .4
}
 to {
opacity: 1
}
}

/* END ImageSlider CSS END */


/*Form Style */
.formstyle{
    width: 100%;
}
.signuplogo{
	height: 80px;
	width: 80px;
}